{% extends 'base.html' %}
{% block content %}
	
<body>
   <img class="img-fluid mx-auto d-block" src="/static/images/jumbotroncrop.jpg" alt="Responsive image">

<hr><br>
<div class="row">
  <div class="col-sm-4"><img class="img-responsive my1" src="/static/images/divblock1.png"></div>
  <div class="col-sm-8 my2"><h3><font color="#006B9F">Now a days due to this harsh competition Education in school and colleges has been become difficult,Everything is going acoording to the syllabus and on their on pace,And due to this a student get left behind and loses interest in studies.So it is neccesary to get a prson who can guide on this harsh competition world and according to your pace.and finding that person can be a difficult task,Here comes the FindMyTutor a saviour and makes you tutor finding task a way easier and provides you the best and Experienced educators.</font> </h3></div>
</div>
<hr><br>
<div class="row">
<div class="col-sm-8 my2 my3"><h2><font color="#006B9F"><ul><br>
<li>Private in Home Tutoring</li>
<li>Expert tutors from Many Deciplines</li>
<li>Boosts Grades and confidence</li>
<li>learn test taking tips</li>
<li>Improve study skills</li><br>
</ul></font> </h2></div>
<div class="col-sm-4"><img class="img-responsive my1" src="/static/images/divblock2.png"></div>
</div>
<hr><br>
<div class="row">
  <div class="col-sm-4"><img class="img-responsive my1" src="/static/images/divblock3.png"></div>
  <div class="col-sm-8 my2"><h2><font color="#006B9F">
  <ul><br>
<li>Homework and Assignment help</li>
<li>Customize Packages to meet Your needs</li>
<li>Connect instantly with a tutor</li>
<li>Notes and lesson plans for each subject</li>
<li>Extracurricular activity to boost student's IQ</li><br>
</ul></font> </h2></div>
</div>


 
	
	<br><br>
	
</body>
	
{% endblock %}